* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  background-color: #2a2c2f;
  font-family: 'Inter', sans-serif;
  color: #fff;
  /* max-width: 1280px; */
}

/* header */
.header {
  text-align: center;
}

.header__logo {
  margin: 34px auto 91px;
}

.header__logo-practicum {
  width: 270px;
  height: 70px;
}

.header__heading {
  margin: 0 auto 32px;
  font-size: 96px;
  line-height: 100px;
  font-weight: 900;
  width: 793px;
  height: 200px;
}

.header__subheading {
  margin: 0 auto 64px;
  font-size: 30px;
  font-weight: 400;
  line-height: 36px;
  width: 720px;
  height: 72px;
}

.header__image {
  position: relative;
  margin-bottom: 92px;
}

.header__rectangle {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  mix-blend-mode: hue;
}

/* header end */

/* intro */
.intro-container {
  width: 883px;
  height: 542px;
  margin: 0 auto 66px;
}

.intro {
  margin: 0 0 0 -50px;
}

.intro__title {
  width: 883px;
  height: 116px;
  font-weight: 900;
  font-size: 54px;
  line-height: 58px;
}

.intro__quotes {
  margin-top: 40px;
  width: 758px;
  height: 170px;
  margin-bottom: 8px;
}

.intro__quotes-paragraph {
  font-weight: 400;
  font-size: 24px;
  line-height: 34px;
}

.intro__quotes-author {
  padding: 0 38px 8px 0;
  text-align: end;
  width: 720px;
  height: 34px;
  font-weight: 400;
  font-size: 24px;
  line-height: 34px;
  box-sizing: content-box;
}

.intro__text {
  margin-top: 16px;
  width: 720px;
  height: 208px;
  font-weight: 400;
  font-size: 16px;
  line-height: 163%;
}

/* intro end */

/* photo-grid */
.photo-grid {
  margin: auto;
  width: 1184px;
  height: 442px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 16px;
}

/* photo-grid end*/

/* card */
.card {
  margin: 92px auto 0;
  width: 984px;
  height: 756px;
}

.card-flex {
  display: flex;
  gap: 40px;
}

.card__title {
  width: 460px;
  height: 228px;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
}

.card__author {
  width: 456px;
  height: 67px;
  align-self: center;
}

.card__author-title {
  width: 41px;
  height: 15px;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.12em;
  color: #aaa;
  margin-bottom: 8px;
}

.card__author-content {
  width: 456px;
  height: 44px;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
}

.card-grid {
  display: grid;
  grid-template-areas:
    'image paragraph'
    'image paragraph';
  grid-gap: 40px;
}

.card__image {
  width: 460px;
  height: 460px;
  grid-area: image;
  margin-bottom: 48px;
}

.card__main-text {
  grid-area: paragraph;
}

.card__paragraph {
  width: 484px;
  height: 216px;
  font-weight: 400;
  font-size: 16.5px;
  line-height: 163%;
}

.card__button {
  padding: 13px 20px;
  width: 304px;
  height: 48px;
  background: #0278fe;
  border-radius: 4px;
}

.card__button-text {
  color: #fff;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  width: 264px;
  height: 22px;
  cursor: pointer;
}

/* tambahan kelas untuk paragraph di bagian kota america */
.card_highest {
  height: 270px;
}

.title_smallest {
  font-size: 60px;
}

/* tammbahan kelas untuk paragaph di bagian kota muramvya */
.card_smallest {
  height: 189px;
}

/* tambahan kelas untuk button di bagian kota muramvya */
.button_translateY {
  transform: translateY(-250%);
}

/* tambahan kelas untuk margin di kampung halamanku */
.card_margin_top {
  margin-top: 154px;
}

/* card end */

/* cover */
.cover {
  position: relative;
  margin: auto;
  margin-top: 92px;
  text-align: center;
  width: 1184px;
  height: 740px;
  background-image: url(./images/cover/overlay.png);
}

.cover__background {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0.7;
}

.cover_center {
  position: absolute;
  top: 35%;
  transform: translateX(65%);
}

.cover__title {
  margin: auto;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  margin-bottom: 20px;
}

.cover__subtitle {
  margin: auto;
  width: 280px;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  margin-bottom: 20px;
}

.cover__button {
  margin: auto;
  width: 137px;
  height: 48px;
  padding: 13px 20px;
  background: #0278fe;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
}

.cover:hover .cover__background {
  opacity: 0.3;
}

.cover__background:hover {
  opacity: 0.3;
}

/* cover end */

/* footer */
.footer {
  margin-top: 92px;
  margin-bottom: 8px;
}

.footer__content {
  text-align: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
}

/* footer end*/

/* media query */
@media screen and (max-width: 768px) {
  .header__heading {
    width: 720px;
  }

  .header__subheading {
    margin-bottom: 36px;
  }

  .header__image {
    margin-bottom: 88px;
  }

  .header__image-hero {
    width: 768px;
    height: 480px;
    filter: grayscale(100%);
  }

  .header__rectangle {
    display: none;
  }

  .intro-container {
    width: 720px;
    height: 600px;
    margin: 0 auto 36px;
  }

  .intro {
    margin: 0 0 0 0;
  }

  .intro__title {
    width: 720px;
    height: 232px;
  }

  .intro__quotes {
    width: 720px;
    height: 170px;
    margin-top: 0;
    margin-bottom: 0;
  }

  .photo-grid {
    margin: 0px auto 90px;
    width: 720px;
    height: 1104px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 16px;
  }

  .grid-image {
    width: 352px;
    height: 264px;
  }

  .card {
    width: 720px;
    height: 626px;
  }

  .card-flex {
    gap: 28px;
    margin-bottom: 40px;
  }

  .card__title {
    width: 340px;
    height: 92px;
    font-size: 42px;
    line-height: 46px;
  }

  .card__author {
    width: 309px;
    height: 67px;
  }

  .card__author-content {
    width: 309px;
    height: 44px;
  }

  .card-grid {
    gap: 28px;
  }

  .card__image {
    width: 340px;
    height: 340px;
  }

  .card__paragraph {
    width: 352px;
    height: 220px;
    font-size: 15px;
  }

  .card__button {
    transform: translateY(-130%);
  }

  /* tambahan kelas untuk kota Berea */
  .card_highest {
    height: 288px;
  }

  .button-america {
    transform: translateY(-270%);
  }

  /* tambahan kelas untuk kota Muramvya */
  .card__smaller {
    height: 240px;
  }

  .button_translateY {
    transform: translateY(-630%);
  }

  /* tambahan kelas untuk margin di kampung halamanku */
  .card_margin_top {
    margin-top: 299px;
  }

  .cover,
  .cover__background {
    width: 768px;
    height: 746px;
  }

  .cover_center {
    transform: translateX(22%);
  }
}

@media screen and (max-width: 320px) {
  .header__logo {
    margin-bottom: 51px;
  }

  .header__logo-practicum {
    width: 200px;
    height: 51.85px;
  }

  .header__heading {
    width: 288px;
    height: max-content;
    font-size: 40px;
    line-height: 44px;
  }

  .header__subheading {
    width: 288px;
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 20px;
  }

  .header__image {
    margin-bottom: 64px;
  }

  .header__image-hero {
    width: 320px;
    height: 200px;
  }

  .intro-container {
    width: 288px;
    height: 928px;
    margin: 0 auto 48px;
  }

  .intro__title {
    width: 288px;
    height: 175px;
    font-size: 30px;
    line-height: 35px;
  }

  .intro__quotes {
    width: 288px;
    height: 300px;
  }

  .intro__quotes-paragraph {
    width: 288px;
    font-size: 20px;
    line-height: 30px;
  }

  .intro__quotes-author {
    width: 288px;
    height: 34px;
    font-size: 20px;
    line-height: 34px;
  }

  .intro__text {
    width: 288px;
    height: 432px;
    font-size: 15px;
  }

  .photo-grid {
    width: 288px;
    height: 1812px;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 12px;
  }

  .grid-image {
    width: 288px;
    height: 216px;
  }

  .card {
    width: 320px;
    height: max-content;
  }

  .card-flex {
    flex-direction: column;
    gap: 30px;
    margin-bottom: 8px;
  }

  .card__title {
    width: 288px;
    height: 35px;
    font-size: 32px;
    line-height: 35px;
    margin: auto;
  }

  .card__author {
    width: 288px;
    height: 89px;
  }

  .card__author-title {
    width: 288px;
  }

  .card__author-content {
    width: 288px;
    height: 66px;
    font-size: 16px;
  }

  .card-grid {
    grid-template-areas:
      'image'
      'paragraph';
  }

  .card__image {
    grid-area: image;
    width: 320px;
    height: 320px;
    margin-bottom: 0;
  }

  .card__main-text {
    grid-area: paragraph;
  }

  .card__paragraph {
    width: 288px;
    height: max-content;
    margin: 0 auto 20px;
  }

  .card__button {
    display: inline-block;
    margin: 0 16px 0;
    width: 288px;
    transform: translateY(50%);
  }

  .card_margin_top {
    margin-top: 80px;
  }

  /* margin bottom untuk kota berea dan muramva */
  .card_margin_bottom {
    margin-bottom: 20px;
  }

  .cover,
  .cover__background {
    width: 320px;
    height: 254px;
  }

  .cover_center {
    transform: translate(8%, -20%);
  }

  .cover__title {
    font-size: 32px;
    line-height: 35px;
  }

  .cover__subtitle {
    font-size: 14px;
    line-height: 16px;
  }

  .cover__button {
    font-size: 18px;
    line-height: 22px;
  }
}

/* media query end */